@font-face {
  font-family: 'gmarketSansLight';
  src: url('../assets/fonts/GmarketSansTTFLight.ttf');
}

@font-face {
  font-family: 'gmarketSansBold';
  src: url('../assets/fonts/GmarketSansTTFBold.ttf');
}

.festival-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.festival-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  max-width: 400px;
  height: 330px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  margin: 10px;
}

.festival-box img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.festival-box h5 {
  font-family: 'gmarketSansBold';
  height: 40px; /* 텍스트 높이 고정 */
  margin-top: 10px;
  margin-right: auto;
  text-align: left; /* 텍스트 좌측 정렬 */
  word-wrap: break-word; /* 띄어쓰기를 기준으로 줄 바꿈 */
}

.festival-box a {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left; /* 텍스트 좌측 정렬 */
}

.festival-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.festival-box a.festival-address {
  font-family: 'gmarketSansLight';
  color: #4a4a4a; /* 회색으로 설정 */
  text-decoration: none; /* 밑줄 제거 */
}
